{% extends "base.html" %}
{% load static %}

{% block title %}
    <title> Cart </title>
{% endblock title %}


{% block content %}
<main>
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <a  class="btn btn-outline-dark mt-3" href="{% url 'booklist' %}">&#x2190; Continue Shopping</a>

                <br>
				<br>
            <table class="table">
            <thead>
                {% if order_items %}
                <tr>
                    <th><h5>Items: <strong>{{ total_cart_items }}</strong></h5></th>
                    <th><h5>Total:<strong> Rs {{ total_cart_price }}</strong></h5></th>
                    <th>
                        <a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
                    </th>
                </tr>
                <tr>
                    <th>Image</th>
                    <th>Book</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                
                    {% for item in order_items %}
                        <tr>
                            <td><img class="row-image" height=50px src="{{ item.book.imageURL }}"></td>
                            <td>{{ item.book.name }}</td>
                            <td><a href="{% url 'remove_from_cart' pk=item.book.pk %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                              </svg></a>{{ item.quantity }}<a href="{% url 'add_to_cart' pk=item.book.pk %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/></a>
                              </svg></td>
                            <td>Rs {{ item.book.price }}</td>
                            <td>Rs {{ item.get_price }}</td>
                        </tr>
                    {% endfor %}
					<tr>
                        <td colspan="3">Total Items: {{ total_cart_items }}</td>
                        <td style="text-align: right">Cart Total: Rs {{ total_cart_price }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Your cart is empty.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}